# Maven
target/
*.log
*.class
*.jar
*.war
.mvn/
!**/mvnw
!**/mvnw.cmd

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
out/

# VS Code
.vscode/

# OS-Systemdateien
.DS_Store
Thumbs.db

# Docker
*.env
docker-compose.override.yml
postgres_data/
pgdata/
volumes/

# React / Node
frontend/node_modules/
frontend/build/
frontend/dist/
