.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.todo-item.done span {
    text-decoration: line-through;
    color: gray;
}

.todo-item input {
    flex: 1;
    margin-right: 8px;
}

.status-icon {
    font-size: 1rem;
    margin-right: 12px;
    user-select: none;
    flex-shrink: 0;
}